---
import { ViewTransitions } from "astro:transitions";
import WebSocketDemo from "../components/WebSocketDemo.astro";
---

<html lang="en">
  <head>
    <title>My Homepage</title>
  </head>
  <body>
    <ViewTransitions />
    <WebSocketDemo />
    <h1>hsrgiuhbirsuigbiuar</h1>
  </body>
</html>
